#myVideo {
  position: fixed;
  bottom: 0;
  left:0;
  min-height: 100vh;
}

.content {
  position: fixed;
  left:0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  min-width: 100vw;
  min-height: 100vh;
  z-index: +3;
  overflow-x:hidden;
}

.doge-1{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index:+4 ;
}

.jar {
	position:fixed;
	margin-left:20vw;
    overflow-y: scroll;
};

html, body {
  color: #fff;
}

p, h1, h2, h3, li {
	font-family: Averia Libre;
	text-shadow: 2px 2px #000000;
}

h1 {
	font-size:5vw;
}


h2 {
	font-size:2vw;
}

a {
	color:#e1b303;
	text-shadow: 1px 1px #000000;
}

.end span {
  font-family: Averia Libre;
  text-shadow: 2px 2px #000000;
  color:#e1b303;
	background-color:black;
}

.address_doge span{
	color:#e1b303;
	background-color:black;
}

.tiers li span {
	color:#e1b303;
	background-color:black;
}

.particle {
  background-color: #e1b303;
  opacity: 0;
  position: absolute;
  transform: rotate(360deg);
  transition: transform 1s, left 1s, top 1s, height 0.5s cubic-bezier(0.625, 5.650, 0.495, 1.00), width 0.5s cubic-bezier(0.625, 5.650, 0.495, 1.00), opacity 1s;
  top: 0;
  left: 0;
  width: 0;
  z-index: +1;
  border-radius: 50px;
}

.jar::-webkit-scrollbar { width: 0 !important }
.jar { overflow: -moz-scrollbars-none; }
/*.jar { -ms-overflow-style: none; }*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  /* Mobile styles go here */
  .jar {
	position:fixed;
	height:100%;
	margin-left:20vw;
	margin-right: 20vw;
	padding-bottom: 5vh;
	}
	
  .doge-1 img{
	width:300px;
	opacity:.2;
  }
}

@media screen and (max-width: 1200px) {
  /* Mobile styles go here */

  .doge-1 {
	  display:none;
  }
  
}

@media screen and (min-width: 1500px) {
  /* Mobile styles go here */  
  .jar {
	position:fixed;
	height:100%;
	margin-left:20vw;
	margin-right: 20vw;
	}
	
.doge-1 {
	  display:none;
  }
}

@media screen and (max-width: 400px) {
  /* Mobile styles go here */

  .jar {
  margin-left:10px;
  margin-right:10px;
  position:fixed;
  height:100%;
  overflow-x:hidden;
  }

	h1 {
	font-size:4vh;
	}

	h2 {
		font-size: 3vh;
	}
	
	.addr_header {
		font-size: 15px !important;
	}
  }
}

.addr_header {	
color: #e1b303;
background-color: black;
}
